In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib

fire_df = pd.read_excel ('Fire Monthly Incurred.xlsx')
liab_df = pd.read_excel ('Liability Monthly Incurred.xlsx')
other_df = pd.read_excel ('Other Monthly Incurred.xlsx')
water_df = pd.read_excel('Water Monthly Incurred.xlsx')
wind_df = pd.read_excel('Wind Monthly Incurred.xlsx')

In [2]:
#Liab, Fire, Water, Wind, Other

Preset_2020 = [42000, 65000, 12000, 5500, 6000]

Preset_2021_included = [51000, 140000, 12000, 7100, 7600]

Preset_2021_excluded = [31000, 100000, 7100, 5500, 4000]

In [3]:
from datetime import datetime

l= []

for i in range (len(liab_df['Loss Date'])):
    l.append(liab_df['Loss Date'][i])
    
    
liab_df['Loss Date'][0].month

12

In [4]:
def sort_by_month(df):
    Jan = []
    Feb = []
    Mar = []
    Apr = []
    May = []
    Jun = []
    Jul = []
    Aug = []
    Sep = []
    Oct = []
    Nov = []
    Dec = []
    
    for i in range (len(df['Loss Date'])):
        if df['Loss Date'][i].year == 2020:
            if df['Loss Date'][i].month == 1:
                Jan.append(i)
            elif df['Loss Date'][i].month == 2:
                Feb.append(i)
            elif df['Loss Date'][i].month == 3:
                Mar.append(i)
            elif df['Loss Date'][i].month == 4:
                Apr.append(i)
            elif df['Loss Date'][i].month == 5:
                May.append(i)
            elif df['Loss Date'][i].month == 6:
                Jun.append(i)
            elif df['Loss Date'][i].month == 7:
                Jul.append(i)
            elif df['Loss Date'][i].month == 8:
                Aug.append(i)
            elif df['Loss Date'][i].month == 9:
                Sep.append(i)
            elif df['Loss Date'][i].month == 10:
                Oct.append(i)
            elif df['Loss Date'][i].month == 11:
                Nov.append(i)
            elif df['Loss Date'][i].month == 12:
                Dec.append(i)
                
    l = [Jan, Feb, Mar, Apr, May, Jun, Jul, Aug, Sep, Oct, Nov, Dec]

    
        
    return l

In [5]:
l = sort_by_month(liab_df)

len(l)

12

In [6]:
#Implemented in the df_by_month function

def dfGen (df, l):    
    
    data = []    
    for i in l:
        data.append(df.loc[i])
        
    df2 = pd.DataFrame(data)
        
    return df2

In [7]:
def df_by_month (df, type_l):
    
        
    
    df_Jan = dfGen (df, type_l[0])
    df_Feb = dfGen (df, type_l[1])
    df_Mar = dfGen (df, type_l[2])
    df_Apr = dfGen (df, type_l[3])
    df_May = dfGen (df, type_l[4])
    df_Jun = dfGen (df, type_l[5])
    df_Jul = dfGen (df, type_l[6])
    df_Aug = dfGen (df, type_l[7])
    df_Sep = dfGen (df, type_l[8])
    df_Oct = dfGen (df, type_l[9])
    df_Nov = dfGen (df, type_l[10])
    df_Dec = dfGen (df, type_l[11])
    
    
    l = [df_Jan, df_Feb, df_Mar, df_Apr, df_May, df_Jun, df_Jul, df_Aug, df_Sep, df_Oct, df_Nov, df_Dec]
    
    
    return l

In [19]:
# Cases where the loss date of liability was in Jan.

df_by_month (liab_df, sort_by_month(liab_df))[0]

,#,Loss Date,Insured Name,Location of Loss,Loss Reserve,LAE Reserve,Total Reserves,Previous Reserves,Sedgwick Fees,Loss Paid,...,This month Recoveries,Total LAE Paid,Net Loss Paid,This moth Total Paid,Total Paid,Deductible,Incurred,This month incurred total for Summary risk(total reserve + paid),Loss Type,Description
7,3576,2020-01-08,"XU,XINOU","23-31 Corporal Kennedy St, Bayside, NY",41000,2000.0,43000.0,0,0.0,0,...,0,0.0,0,0.0,0.0,0,43000.0,43000.0,General Liability Bodily Injury Liability,Claimant fell in her apartment due to water le...
19,3731,2020-01-15,RISHY RANN & SHEILA HARICHARRAN,"1316 Croes Avenue, Bronx, NY",42000,2000.0,44000.0,0,0.0,0,...,0,0.0,0,0.0,0.0,0,44000.0,44000.0,General Liability Other,Claimant alleges injury occurred on insured pr...
43,4423,2020-01-24,Akm Ziaul Haider & Nasreen Haider,"15027 107th Ave, Jamaica, NY",42000,12000.0,54000.0,0,0.0,0,...,0,0.0,0,0.0,0.0,0,54000.0,54000.0,General Liability Other,Claimant alleges injury occurred on insured pr...
50,4632,2020-01-23,MATLOOB KHAN,"83 Ada Drive, Staten Island, NY",42000,2000.0,44000.0,0,0.0,0,...,0,0.0,0,0.0,0.0,0,44000.0,44000.0,General Liability Other,Insured's dog allegedly bit a pedestrian.
62,4765,2020-01-03,Nan Hao Chen,7227 Calanmus Aenue Woodside NY,42000,2000.0,44000.0,0,0.0,0,...,0,0.0,0,0.0,0.0,0,44000.0,44000.0,General Liability Other,Wife fell off chair and injured her neck

In [15]:
# Cases where the loss date of liability was in Feb.

df_by_month (liab_df, sort_by_month(liab_df))[1]

,#,Loss Date,Insured Name,Location of Loss,Loss Reserve,LAE Reserve,Total Reserves,Previous Reserves,Sedgwick Fees,Loss Paid,...,This month Recoveries,Total LAE Paid,Net Loss Paid,This moth Total Paid,Total Paid,Deductible,Incurred,This month incurred total for Summary risk(total reserve + paid),Loss Type,Description
10,3628,2020-02-06,Yonatan Bahumi,"1027 Faile St, Bronx, NY",42000,2000.0,44000.0,0,0.0,0,...,0,0.0,0,0.0,0.0,0,44000.0,44000.0,General Liability Bodily Injury Liability,"Claimant alleges handrail broke, resulting in ..."
11,3646,2020-02-27,GESNER & MIREILLE CHARLES,"1110 East 58th Street, Brooklyn, NY",5000,2000.0,7000.0,0,0.0,0,...,0,0.0,0,0.0,0.0,0,7000.0,7000.0,General Liability Other,Siding flew off the house and hit the neighbor...
13,3660,2020-02-28,MANUEL & PERLA PINZON,"3912 222nd Street, Bayside, NY",42000,2000.0,44000.0,0,0.0,0,...,0,0.0,0,0.0,0.0,0,44000.0,44000.0,General Liability Other,General Liability
14,3662,2020-02-26,JIN YUN ZHU & WU HE,"42-24 193rd Street, Bayside, NY",42000,2000.0,44000.0,0,0.0,0,...,0,0.0,0,0.0,0.0,0,44000.0,44000.0,General Liability,Claimant alleges personal injuries.
20,3815,2020-02-13,ROBERT & WILDA LOESER,"4928 Valley Terrace Way, Salida, CA",42000,2000.0,44000.0,0,0.0,0,...,0,0.0,0,0.0,0.0,0,44000.0,44000.0,General Liability Other,Dog bite.
21,3844,2020-02-28,MARIA TUMIA,"151-46 11th Ave, Whitestone, NY",42000,2000.0,44000.0,0,0.0,0,...,0,0.0,0,0.0,0.0,0,44000.0,44000.0,General Liability Other,Domestic disputed reportedly resulted in injur...

In [95]:
def summ(df, index):
    
    if df_by_month (df, sort_by_month(df))[index].empty == True:
        return -1
    
    else:
        return sum(df_by_month (df, sort_by_month(df))[index]['This month incurred total for Summary risk(total reserve + paid)'])

In [97]:
summ(liab_df, 2)

-1

In [110]:
def diffCal (df, index, type_int, case_int):
    Preset_2020 = [42000, 65000, 12000, 5500, 6000]

    Preset_2021_included = [51000, 140000, 12000, 7100, 7600]

    Preset_2021_excluded = [31000, 100000, 7100, 5500, 4000]
    
    if case_int == 0:
        diff = summ(df, index) -Preset_2020[type_int]*len(df_by_month (df, sort_by_month(df))[index])
        
    elif case_int == 1:
        diff = summ(df, index) -Preset_2021_included[type_int]*len(df_by_month (df, sort_by_month(df))[index])
        
    elif case_int == 2:
        diff = summ(df, index) -Preset_2021_excluded[type_int]*len(df_by_month (df, sort_by_month(df))[index])
    
    
    return diff

In [111]:
diffCal(liab_df, 0, 0, 0)

19000.0

In [129]:
def monCal(df, type_int):
    Preset_2020 = [42000, 65000, 12000, 5500, 6000]

    Preset_2021_included = [51000, 140000, 12000, 7100, 7600]

    Preset_2021_excluded = [31000, 100000, 7100, 5500, 4000]

    dat = df_by_month(df, sort_by_month(df))

    type_20 = []
    type_21_included = []
    type_21_excluded = []
    case = []
    
    
    for i in range (12):
        type_20.append(diffCal(df, i, type_int, 0))
        
        type_21_included.append(diffCal(df, i, type_int, 1))        
        
        type_21_excluded.append(diffCal(df, i, type_int, 2))
        
        case.append(len(dat[i]))
        
    
    newDF = pd.DataFrame(list(zip(type_20, type_21_included, type_21_excluded, case)), columns = ['Preset_2020', 'Preset_2021_included', 'Preset_2021_excluded', '#'], index = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'])
        
    return newDF

In [130]:
df_liab = monCal(liab_df, 0)

df_liab

     Preset_2020  Preset_2021_included  Preset_2021_excluded  #
Jan     19000.00             -26000.00              74000.00  5
Feb    -25000.00             -79000.00              41000.00  6
Mar        -1.00                 -1.00                 -1.00  0
Apr    -32000.00             -50000.00             -10000.00  2
May      6000.00             -21000.00              39000.00  3
Jun      6000.00             -21000.00              39000.00  3
Jul    -21000.00             -66000.00              34000.00  5
Aug    -39041.44             -57041.44             -17041.44  2
Sep     18000.00             -18000.00              62000.00  4
Oct      2000.00              -7000.00              13000.00  1
Nov      4000.00             -14000.00              26000.00  2
Dec        -1.00                 -1.00                 -1.00  0

In [131]:
df_fire = monCal (fire_df, 1)

df_fire

     Preset_2020  Preset_2021_included  Preset_2021_excluded   #
Jan     558595.0              108595.0              348595.0   6
Feb    1137500.0              537500.0              857500.0   8
Mar     385000.0               10000.0              210000.0   5
Apr     188000.0             -112000.0               48000.0   4
May     100000.0             -125000.0               -5000.0   3
Jun    1139500.0              689500.0              929500.0   6
Jul     -72700.0             -822700.0             -422700.0  10
Aug    1232000.0              557000.0              917000.0   9
Sep    -176605.0             -701605.0             -421605.0   7
Oct     -92200.0             -467200.0             -267200.0   5
Nov     -62387.0             -212387.0             -132387.0   2
Dec      94000.0             -431000.0             -151000.0   7

In [132]:
df_water = monCal(water_df, 2)

df_water

     Preset_2020  Preset_2021_included  Preset_2021_excluded   #
Jan     24703.45              24703.45             161903.45  28
Feb      9825.55               9825.55             102925.55  19
Mar     11673.45              11673.45             124373.45  23
Apr    -20450.00             -20450.00             111850.00  27
May     -6755.60              -6755.60             101044.40  22
Jun    100500.00             100500.00             232800.00  27
Jul     36500.00              36500.00             237400.00  41
Aug    -11855.00             -11855.00             120445.00  27
Sep    113000.00             113000.00             215900.00  21
Oct     14900.00              14900.00             147200.00  27
Nov      1473.26               1473.26             128873.26  26
Dec      2500.00               2500.00              85800.00  17

In [133]:
df_wind = monCal(wind_df, 3)

df_wind

     Preset_2020  Preset_2021_included  Preset_2021_excluded   #
Jan     20500.00               9300.00              20500.00   7
Feb     23113.00               8713.00              23113.00   9
Mar      5095.00                295.00               5095.00   3
Apr    128193.96              60993.96             128193.96  42
May     14000.00               -400.00              14000.00   9
Jun     43000.00              12600.00              43000.00  19
Jul     77849.71              36249.71              77849.71  26
Aug    138706.44               1106.44             138706.44  86
Sep     22000.00              14000.00              22000.00   5
Oct     29000.00              17800.00              29000.00   7
Nov     40505.91              11705.91              40505.91  18
Dec     36500.00              -3500.00              36500.00  25

In [134]:
df_other = monCal(other_df, 4)

df_other

     Preset_2020  Preset_2021_included  Preset_2021_excluded  #
Jan     29000.00              17800.00              43000.00  7
Feb      7608.45               4408.45              11608.45  2
Mar     84500.00              73300.00              98500.00  7
Apr     10000.00               5200.00              16000.00  3
May     10500.00               5700.00              16500.00  3
Jun     15000.00               7000.00              25000.00  5
Jul        -1.00                 -1.00                 -1.00  0
Aug        -1.00                 -1.00                 -1.00  0
Sep        -1.00                 -1.00                 -1.00  0
Oct        -1.00                 -1.00                 -1.00  0
Nov        -1.00                 -1.00                 -1.00  0
Dec        -1.00                 -1.00                 -1.00  0

In [135]:
df_liab.to_csv('liab_result.csv')

df_fire.to_csv('fire result.csv')

df_water.to_csv('water result.csv')

df_wind.to_csv('wind result.csv')

df_other.to_csv('other result.csv')

In [ ]:
df_by_month (other_df, sort_by_month(other_df))[1]

In [122]:
other_df

,#,Claim,Claimant,Loss Date,Policy Effective Date,Date Reported to York,Status,Policy Number,LOS_SPD_REF,LOB,...,Description,Claim Mode,Life Medical,Master File,Excess Reportable,Claim by UY/State/Agent,Close Date of Claim,Assured code,Assured Name,York/Segwick
0,3496,CHI19342100,NaN,2019-12-09,2019-11-14,2019-12-16,O,HONY2013110020-19,8800001S2,416,...,Insured had a burglary in his home.,NaN,NaN,NaN,NaN,20199320001,,416932,HMFI - HOMEOWNERS (ALLIED LINES)-NY,Sedgwick
1,3499,CHI19342470,NaN,2019-11-26,2019-09-01,2019-12-16,O,HONJ2014080053-19,8800001S2,416,...,Rolex watch was stolen from locker at gym.,NaN,NaN,NaN,NaN,20199300004,,416930,HMFI - HOMEOWNERS (ALLIED LINES)-NJ,Sedgwick
2,3506,CHI19343530,NaN,2019-06-28,2018-10-04,2019-12-18,O,DPNY2016100060-18,8800002S2,216,...,Insured's child threw stones at nearby cars ca...,NaN,NaN,NaN,NaN,20189320001,,216932,HMFI - DWELLING (ALLIED LINES)-NY,Sedgwick
3,3507,CHI19343540,NaN,2019-06-26,2018-10-04,2019-12-18,O,DPNY2016100060-18,8800002S2,216,...,Insured's child threw stones at nearby cars ca...,NaN,NaN,NaN,NaN,20189320001,,216932,HMFI - DWELLING (ALLIED LINES)-NY,Sedgwick
4,3530,CHI19344720,NaN,2019-12-27,2019-02-15,2019-12-27,O,DPNY2018020186-19,8800002S2,216,...,Vehicle hit insureds back yard fence and destr...,NaN,NaN,NaN,NaN,20199320001,,216932,HMFI - DWELLING (ALLIED LINES)-NY,Sedgwick
5,3532,CHI19344740,NaN,2019-12-16,2019-01-10,2019-12-27,O,HONY2018010072-19,8800001S2,416,...,"Burglary. Cash, luxury bags, and jewelry were ...",NaN,NaN,NaN,NaN,20199320001,,416932,HMFI - HOMEOWNERS (ALLIED LINES)-NY,Sedgwick
6,3534,CHI19345020,NaN,2019-12-19,2019-03-06,2019-12-30,O,DPNY2017030111-19,8800002S2,216,...,House was broken into from a window in the bac...,NaN,NaN,NaN,NaN,20199320001,,216932,HMFI - DWELLING (ALLIED LINES)-NY,Sedgwick
7,3536,CHI20345170,NaN,2019-12-23,2019-02-06,2020-01-02,O,HONY2019020034-19,8800001S2,416,...,Insured had a burglary at her home. The fron a...,NaN,NaN,NaN,NaN,20199320001A,,416932,HMFI - HOMEOWNERS (ALLIED LINES)-NY,Sedgwick
8,3539,CHI20345350,NaN,2019-12-24,2019-10-02,2020-01-02,O,HONY2015100022-19,8800001S2,416,...,Insureds home was broken into several items we...,NaN,NaN,NaN,NaN,20199320001A,,416932,HMFI - HOMEOWNERS (ALLIED LINES)-NY,Sedgwick
9,3540,CHI20345400,NaN,2019-12-02,2019-02-26,2020-01-02,O,HONJ2016020041-19,8800001S2,416,...,"Missing appliances, cabinets, counter tops, si...",NaN,NaN,NaN,NaN,20199300002,,416930,HMFI - HOMEOWNERS (ALLIED LINES)-NJ,Sedgwick
10,3541,CHI20345500,NaN,2019-12-27,2019-03-31,2020-01-03,O,HONY2016040009-19,8800001S2,416,...,Insured property damaged when a police car cha...,NaN,NaN,NaN,NaN,20199320001,,416932,HMFI - HOMEOWNERS (ALLIED LINES)-NY,Sedgwick
11,3542,CHI20345590,NaN,2016-07-31,2015-12-15,2020-01-03,O,DPNY2015120159-15,8800002S2,216,...,Insured received legal documents stemming from...,NaN,NaN,NaN,NaN,20159320001,,216932,HMFI - DWELLING (ALLIED LINES)-NY,Sedgwick
12,3549,CHI20346240,NaN,2020-01-06,2019-09-23,2020-01-07,O,HONY2015090234-19,8800001S2,416,...,"Vehicle was backing up and hit the bricks, shr...",NaN,NaN,NaN,NaN,20199320001,,416932,HMFI - HOMEOWNERS (ALLIED LINES)-NY,Sedgwick
13,3553,CHI20346440,NaN,2019-12-08,2019-01-26,2020-01-09,O,HONY2017010048-19,8800001S2,416,...,"Someone broke into home and stole $32,000 in c...",NaN,NaN,NaN,NaN,20199320001,,416932,HMFI - HOMEOWNERS (ALLIED LINES)-NY,Sedgwick
14,3562,CHI20348050,NaN,2020-01-09,2019-02-17,2020-01-17,O,HONJ2018020031-19,8800001S2,416,...,vehicle struck and damaged fence and side of home,NaN,NaN,NaN,NaN,20199300001,,416930,HMFI - HOMEOWNERS (ALLIED LINES)-NJ,Sedgwick
15,3566,CHI20348300,NaN,2020-01-14,2019-06-30,2020-01-20,O,HONJ2017060047-19,8800001S2,416,...,Tree fell onto fence causing big damage,NaN,NaN,NaN,NaN,20199300001,,416930,HMFI - HOMEOWNERS (ALLIED LINES)-NJ,Sedgwick
16,3567,CHI20348350,NaN,2019-12-24,2019-08-30,2020-01-20,O,HONJ2016080113-19,8800001S2,416,...,Burglary of the residence.,NaN,NaN,NaN,NaN,20199300001,,416930,HMFI - HOMEOWNERS (ALLIED LINES)-NJ,Sedgwick
17,3571,CHI20348670,NaN,2019-12-28,2019-11-16,2020-01-21,O,HONY2019100128-19,8800001S2,416,...,Damage to fence caused by auto accident,NaN,NaN,NaN,NaN,20199320001,,416932,HMFI - HOMEOWNERS (ALLIED LINES)-NY,Sedgwick
18,3583,CHI20349760,NaN,2020-01-24,2019-03-07,2020-01-24,O,HONY2014030031-19,8800001S2,416,...,30x15 of the roof is flooded up due to heavy w...,NaN,NaN,NaN,NaN,20199320001,,416932,HMFI - HOMEOWNERS (ALLIED LINES)-NY,Sedgwick
19,3585,CHI20349900,NaN,2019-11-25,2018-12-15,2020-01-27,O,HONY2015120166-18,8800001S2,416,...,The fence wall to the property collapsed.,NaN,NaN,NaN,NaN,20189320001,,416932,HMFI - HOMEOWNERS (ALLIED LINES)-NY,Sedgwick
20,3602,CHI20351560,NaN,2020-01-25,2019-02-01,2020-02-06,O,DPNY2015010143-19,8800002S2,216,...,Theft,NaN,NaN,NaN,NaN,20199320001,,216932,HMFI - DWELLING (ALLIED LINES)-NY,Sedgwick
21,3610,CHI20352530,NaN,2020-02-07,2020-02-01,2020-02-11,O,HONJ2019020014-20,8800001S2,416,...,Theft,NaN,NaN,NaN,NaN,20209300001,,416930,HMFI - HOMEOWNERS (ALLIED LINES)-NJ,Sedgwick
22,3638,CHI20355550,NaN,2020-01-23,2019-08-24,2020-02-26,O,HONJ2015080045-19,8800001S2,416,...,"Theft. Missing stove, refrigerator and dishwa...",NaN,NaN,NaN,NaN,20199300003,,416930,HMFI - HOMEOWNERS (ALLIED LINES)-NJ,Sedgwick
23,3661,CHI20357810,NaN,2020-03-09,2019-10-07,2020-03-09,O,HONY2014100062-19,8800001S2,416,...,"Vehicle caused damage to landscaping, sprinkle...",NaN,NaN,NaN,NaN,20199320005,,416932,HMFI - HOMEOWNERS (ALLIED LINES)-NY,Sedgwick
24,3676,CHI20358930,NaN,2020-03-17,2019-09-01,2020-03-17,O,DPNJ2018080027-19,8800002S2,216,...,"Boiler is not working properly, roof is fallin...",NaN,NaN,NaN,NaN,20199300002,,216930,HMFI - DWELLING (ALLIED LINES)-NJ,Sedgwick
25,3681,CHI20360700,NaN,2020-03-21,2019-07-28,2020-03-24,O,HONY2017070289-19,8800001S2,416,...,Theft of multiple items,NaN,NaN,NaN,NaN,20199320001,,416932,HMFI - HOMEOWNERS (ALLIED LINES)-NY,Sedgwick
26,3693,CHI20365840,NaN,2020-03-31,2019-09-27,2020-04-03,O,HONY2019090161-19,8800001S2,416,...,Vehicle collided with Insured's property,NaN,NaN,NaN,NaN,20199320001,,416932,HMFI - HOMEOWNERS (ALLIED LINES)-NY,Sedgwick
27,3695,CHI20366290,NaN,2020-03-14,2019-11-12,2020-04-06,O,HONY2014110100-19,8800001S2,416,...,Boiler is no longer working,NaN,NaN,NaN,NaN,20199320001,,416932,HMFI - HOMEOWNERS (ALLIED LINES)-NY,Sedgwick
28,3739,CHI20372440,NaN,2020-02-29,2019-08-10,2020-04-20,O,HONJ2019080022-19,8800001S2,416,...,Power outage caused jacuzzi pipe to break,NaN,NaN,NaN,NaN,20199300001,,416930,HMFI - HOMEOWNERS (ALLIED LINES)-NJ,Sedgwick
29,3742,CHI20372630,NaN,2019-05-08,2018-11-30,2020-04-21,O,HONJ2016110028-18,8800001S2,416,...,Vandalism to garage,NaN,NaN,NaN,NaN,20189300005,,416930,HMFI - HOMEOWNERS (ALLIED LINES)-NJ,Sedgwick
30,3748,CHI20373810,NaN,2020-04-10,2020-01-02,2020-04-24,O,DPNY2019010012-20,8800002S2,216,...,Vehicle damage to fence,NaN,NaN,NaN,NaN,20209320001,,216932,HMFI - DWELLING (ALLIED LINES)-NY,Sedgwick
31,3756,CHI20374110,NaN,2020-04-16,2020-02-18,2020-04-24,O,HONY2019020083-20,8800001S2,416,...,Mold,NaN,NaN,NaN,NaN,20209320001,,416932,HMFI - HOMEOWNERS (ALLIED LINES)-NY,Sedgwick
32,3764,CHI20374460,NaN,2020-04-22,2019-12-14,2020-04-28,O,DPNY2018120250-19,8800002S2,216,...,Car hit and damaged insured's porch,NaN,NaN,NaN,NaN,20199320001,,216932,HMFI - DWELLING (ALLIED LINES)-NY,Sedgwick
33,3767,CHI20375260,NaN,2020-03-07,2020-01-04,2020-04-30,O,DPNY2017010093-20,8800002S2,216,...,House was damaged by a car.,NaN,NaN,NaN,NaN,20209320001,,216932,HMFI - DWELLING (ALLIED LINES)-NY,Sedgwick
34,3810,CHI20380260,NaN,2019-12-15,2019-05-15,2020-05-19,O,HONJ2019040050-19,8800001S2,416,...,Damage to front of residence from unknown animal.,NaN,NaN,NaN,NaN,20199300002,,416930,HMFI - HOMEOWNERS (ALLIED LINES)-NJ,Sedgwick
35,3826,CHI20384920,NaN,2020-05-28,2019-06-14,2020-05-29,O,HONY2017060165-19,8800001S2,416,...,collision.,NaN,NaN,NaN,NaN,20199320001,,416932,HMFI - HOMEOWNERS (ALLIED LINES)-NY,Sedgwick
36,3846,CHI20389610,NaN,2020-06-07,2020-01-14,2020-06-08,O,DPNY2015010109-20,8800002S2,216,...,vehicle struck home causing damage,NaN,NaN,NaN,NaN,20209320005,,216932,HMFI - DWELLING (ALLIED LINES)-NY,Sedgwick
37,3850,CHI20389670,NaN,2020-05-08,2019-07-20,2020-06-08,O,DPNJ2018070024-19,8800002S2,216,...,Mold on bedroom walls and windows,NaN,NaN,NaN,NaN,20199300003,,216930,HMFI - DWELLING (ALLIED LINES)-NJ,Sedgwick
38,3864,CHI20392880,NaN,2020-01-20,2019-12-19,2020-06-12,O,DPNY2014120231-19,8800002S2,216,...,Car crashed into property and took out about 6...,NaN,NaN,NaN,NaN,20199320001,,216932,HMFI - DWELLING (ALLIED LINES)-NY,Sedgwick
39,3865,CHI20393010,NaN,2020-03-10,2019-09-16,2020-06-12,O,HONJ2019090039-19,8800001S2,416,...,Water leak in basement has caused mole damage ...,NaN,NaN,NaN,NaN,20199300001,,416930,HMFI - HOMEOWNERS (ALLIED LINES)-NJ,Sedgwick
40,3875,CHI20394820,NaN,2020-06-11,2019-12-06,2020-06-16,O,HOCA2018120004-19,8800001S2,416,...,A/C unit is not turning as of last thursday.,NaN,NaN,NaN,NaN,2019905R004,,416905,HMFI - HOMEOWNERS (ALLIED LINES)-CA,Sedgwick
41,3883,CHI20396570,NaN,2020-06-16,2019-07-05,2020-06-19,O,HONJ2018070011-19,8800001S2,416,...,Window was busted out of vehicle and tools wer...,NaN,NaN,NaN,NaN,20199300005,,416930,HMFI - HOMEOWNERS (ALLIED LINES)-NJ,Sedgwick
42,3888,CHI20397350,NaN,2020-06-06,2019-09-29,2020-06-22,O,DPNY2019090170-19,8800002S2,216,...,Tree fell on property.,NaN,NaN,NaN,NaN,20199320001,,216932,HMFI - DWELLING (ALLIED LINES)-NY,Sedgwick
43,3900,CHI20400020,NaN,2020-06-11,2020-03-14,2020-06-29,O,DPNY2017030261-20,8800002S2,216,...,Vehicle lost control and struck insured's prop...,NaN,NaN,NaN,NaN,20209320001,,216932,HMFI - DWELLING (ALLIED LINES)-NY,Sedgwick
44,3904,CHI20400520,NaN,2020-05-16,2020-01-21,2020-06-27,O,HONY2017010156-20,8800001S2,416,...,"Roof has weather-related damage, missing roof ...",NaN,NaN,NaN,NaN,20209320001A,,416932,HMFI - HOMEOWNERS (ALLIED LINES)-NY,Sedgwick