In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib

water_df = pd.read_excel('Water Incurred.xlsx', header = 1)

water_df

,#,Claim,Claimant,Loss Date,Policy Effective Date,Date Reported to York,Total Paid,Deductible,Incurred 21/2,Incurred 18/8,Incurred 18/7,Incurred 18/6,Incurred 18/5,Incurred 18/4,Incurred 18/3,Incurred 18/2,Incurred 18/1,This month incurred total for Summary risk(total reserve + paid),Loss Type,Description
0,1580,HFMH-1628A9,"Fullbrook, Anthony",2018-01-01,2017-01-03,2018-01-01,13512.47,1000,13512.47,13490.47,13490.47,13490.47,13490.47,13490.47,13490.47,13500.00,13500.00,0,WATER DAMAGE,"Water pipes burst from the cold, and flooded t..."
1,1581,HFMH-1629A9,"& Ying Sun, Xiaofeng Liu",2018-01-02,2017-08-15,2018-01-02,4985.55,2000,4985.55,4963.55,4963.55,4963.55,4963.55,4963.55,4963.55,13800.00,13800.00,0,WATER DAMAGE,"Insured had a pipe burst, damage to wall/floor..."
2,1582,HFMH-1630A9,"Girdhari, Deneshwar",2018-01-01,2017-04-13,2018-01-02,2032.90,2500,2032.90,2010.90,2010.90,2010.90,2010.90,2010.90,13500.00,13500.00,13500.00,0,WATER DAMAGE,"Sewer line might be backed up, causing damage ..."
3,1583,HFMH-1631A9,"Espada, Eddie",2018-01-02,2017-07-29,2018-01-02,7609.56,1000,7609.56,7587.56,7587.56,7587.56,7587.56,7587.56,7587.56,7122.98,6348.98,0,WATER DAMAGE,Roof is leaking due possibly from the snow.
4,1585,HFMH-1633A9,"Hui Zhang, Fei",2018-01-02,2017-09-25,2018-01-03,26361.68,1000,26361.68,35095.08,65000.00,65000.00,65000.00,65000.00,65000.00,13800.00,13800.00,0,WATER DAMAGE,Freezing pipe. Water damage from second floor ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,1767,HFMH-1817A9,"Elsenhout, Paul",2018-01-03,2017-07-13,2018-02-22,680.00,1000,680.00,12.00,12.00,12.00,12.00,13200.00,13200.00,13200.00,NaN,0,WATER DAMAGE,Freezing
121,1772,HFMH-1822A9,"Fang, Teng",2018-01-18,2017-05-05,2018-02-27,15314.65,2500,15314.65,13600.00,13600.00,13600.00,13600.00,13600.00,13600.00,12000.00,NaN,0,WATER DAMAGE,Insured had a burst pipe
122,1935,HFMH-1988A9,"Kyung Park-kim, Hae",2018-01-08,2017-12-28,2018-03-13,1571.20,500,1571.20,1549.20,8500.00,8500.00,13500.00,13500.00,13500.00,NaN,NaN,0,WATER DAMAGE,Insured had a burst pipe
123,1962,HFMH-2017A9,"Archer, James",2018-01-19,2017-03-17,2018-03-22,4154.28,2500,4154.28,4132.28,4132.28,4132.28,4132.28,4132.28,13800.00,NaN,NaN,0,WATER DAMAGE,Water damaged due to frozen pipes in one bath....
124,2315,HFMH-2380A9,Srikumar Kanapathipillai & Luxshmi Srikumar,2018-01-07,2017-11-14,2018-08-20,1246.15,1000,1246.15,14500.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,WATER DAMAGE,There were plumbing leaks in the 1st floor bat...

In [2]:
def comparison (df, lapse ,col1, col2):
    index = int
    
    if df.loc[lapse][col1] == None:
        index = 0
    
    elif df.loc[lapse][col1] < df.loc[lapse][col2]:
        index = 1
        
    elif df.loc[lapse][col1] == df.loc[lapse][col2]:
        index = 0
    
    elif df.loc[lapse][col1] > df.loc[lapse][col2]:
        index = -1
        
    return index

In [3]:
water = water_df.replace({np.nan: None})

water

,#,Claim,Claimant,Loss Date,Policy Effective Date,Date Reported to York,Total Paid,Deductible,Incurred 21/2,Incurred 18/8,Incurred 18/7,Incurred 18/6,Incurred 18/5,Incurred 18/4,Incurred 18/3,Incurred 18/2,Incurred 18/1,This month incurred total for Summary risk(total reserve + paid),Loss Type,Description
0,1580,HFMH-1628A9,"Fullbrook, Anthony",2018-01-01,2017-01-03,2018-01-01,13512.5,1000,13512.5,13490.5,13490.5,13490.5,13490.5,13490.5,13490.5,13500,13500,0,WATER DAMAGE,"Water pipes burst from the cold, and flooded t..."
1,1581,HFMH-1629A9,"& Ying Sun, Xiaofeng Liu",2018-01-02,2017-08-15,2018-01-02,4985.55,2000,4985.55,4963.55,4963.55,4963.55,4963.55,4963.55,4963.55,13800,13800,0,WATER DAMAGE,"Insured had a pipe burst, damage to wall/floor..."
2,1582,HFMH-1630A9,"Girdhari, Deneshwar",2018-01-01,2017-04-13,2018-01-02,2032.9,2500,2032.9,2010.9,2010.9,2010.9,2010.9,2010.9,13500,13500,13500,0,WATER DAMAGE,"Sewer line might be backed up, causing damage ..."
3,1583,HFMH-1631A9,"Espada, Eddie",2018-01-02,2017-07-29,2018-01-02,7609.56,1000,7609.56,7587.56,7587.56,7587.56,7587.56,7587.56,7587.56,7122.98,6348.98,0,WATER DAMAGE,Roof is leaking due possibly from the snow.
4,1585,HFMH-1633A9,"Hui Zhang, Fei",2018-01-02,2017-09-25,2018-01-03,26361.7,1000,26361.7,35095.1,65000,65000,65000,65000,65000,13800,13800,0,WATER DAMAGE,Freezing pipe. Water damage from second floor ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,1767,HFMH-1817A9,"Elsenhout, Paul",2018-01-03,2017-07-13,2018-02-22,680,1000,680,12,12,12,12,13200,13200,13200,None,0,WATER DAMAGE,Freezing
121,1772,HFMH-1822A9,"Fang, Teng",2018-01-18,2017-05-05,2018-02-27,15314.7,2500,15314.7,13600,13600,13600,13600,13600,13600,12000,None,0,WATER DAMAGE,Insured had a burst pipe
122,1935,HFMH-1988A9,"Kyung Park-kim, Hae",2018-01-08,2017-12-28,2018-03-13,1571.2,500,1571.2,1549.2,8500,8500,13500,13500,13500,None,None,0,WATER DAMAGE,Insured had a burst pipe
123,1962,HFMH-2017A9,"Archer, James",2018-01-19,2017-03-17,2018-03-22,4154.28,2500,4154.28,4132.28,4132.28,4132.28,4132.28,4132.28,13800,None,None,0,WATER DAMAGE,Water damaged due to frozen pipes in one bath....
124,2315,HFMH-2380A9,Srikumar Kanapathipillai & Luxshmi Srikumar,2018-01-07,2017-11-14,2018-08-20,1246.15,1000,1246.15,14500,None,None,None,None,None,None,None,0,WATER DAMAGE,There were plumbing leaks in the 1st floor bat...

In [4]:
l = []

for i in range (len(water)):
    
    l.append (0)
    
water["index"] = l

water

,#,Claim,Claimant,Loss Date,Policy Effective Date,Date Reported to York,Total Paid,Deductible,Incurred 21/2,Incurred 18/8,...,Incurred 18/6,Incurred 18/5,Incurred 18/4,Incurred 18/3,Incurred 18/2,Incurred 18/1,This month incurred total for Summary risk(total reserve + paid),Loss Type,Description,index
0,1580,HFMH-1628A9,"Fullbrook, Anthony",2018-01-01,2017-01-03,2018-01-01,13512.5,1000,13512.5,13490.5,...,13490.5,13490.5,13490.5,13490.5,13500,13500,0,WATER DAMAGE,"Water pipes burst from the cold, and flooded t...",0
1,1581,HFMH-1629A9,"& Ying Sun, Xiaofeng Liu",2018-01-02,2017-08-15,2018-01-02,4985.55,2000,4985.55,4963.55,...,4963.55,4963.55,4963.55,4963.55,13800,13800,0,WATER DAMAGE,"Insured had a pipe burst, damage to wall/floor...",0
2,1582,HFMH-1630A9,"Girdhari, Deneshwar",2018-01-01,2017-04-13,2018-01-02,2032.9,2500,2032.9,2010.9,...,2010.9,2010.9,2010.9,13500,13500,13500,0,WATER DAMAGE,"Sewer line might be backed up, causing damage ...",0
3,1583,HFMH-1631A9,"Espada, Eddie",2018-01-02,2017-07-29,2018-01-02,7609.56,1000,7609.56,7587.56,...,7587.56,7587.56,7587.56,7587.56,7122.98,6348.98,0,WATER DAMAGE,Roof is leaking due possibly from the snow.,0
4,1585,HFMH-1633A9,"Hui Zhang, Fei",2018-01-02,2017-09-25,2018-01-03,26361.7,1000,26361.7,35095.1,...,65000,65000,65000,65000,13800,13800,0,WATER DAMAGE,Freezing pipe. Water damage from second floor ...,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,1767,HFMH-1817A9,"Elsenhout, Paul",2018-01-03,2017-07-13,2018-02-22,680,1000,680,12,...,12,12,13200,13200,13200,None,0,WATER DAMAGE,Freezing,0
121,1772,HFMH-1822A9,"Fang, Teng",2018-01-18,2017-05-05,2018-02-27,15314.7,2500,15314.7,13600,...,13600,13600,13600,13600,12000,None,0,WATER DAMAGE,Insured had a burst pipe,0
122,1935,HFMH-1988A9,"Kyung Park-kim, Hae",2018-01-08,2017-12-28,2018-03-13,1571.2,500,1571.2,1549.2,...,8500,13500,13500,13500,None,None,0,WATER DAMAGE,Insured had a burst pipe,0
123,1962,HFMH-2017A9,"Archer, James",2018-01-19,2017-03-17,2018-03-22,4154.28,2500,4154.28,4132.28,...,4132.28,4132.28,4132.28,13800,None,None,0,WATER DAMAGE,Water damaged due to frozen pipes in one bath....,0
124,2315,HFMH-2380A9,Srikumar Kanapathipillai & Luxshmi Srikumar,2018-01-07,2017-11-14,2018-08-20,1246.15,1000,1246.15,14500,...,None,None,None,None,None,None,0,WATER DAMAGE,There were plumbing leaks in the 1st floor bat...,0

In [5]:
for i in range (len (water)):
    
    index = comparison(water, i, "Incurred 18/1", "Incurred 18/2")
    
    prev = water.loc[i]["index"]
    
    new = prev + index
    
    water.at[i, "index"] = new
    
for i in range (len (water)):
    
    index = comparison(water, i, "Incurred 18/2", "Incurred 18/3")
    
    prev = water.loc[i]["index"]
    
    new = prev + index
    
    water.at[i, "index"] = new
    
for i in range (len (water)):
    
    index = comparison(water, i, "Incurred 18/3", "Incurred 18/4")
    
    prev = water.loc[i]["index"]
    
    new = prev + index
    
    water.at[i, "index"] = new
    
for i in range (len (water)):
    
    index = comparison(water, i, "Incurred 18/4", "Incurred 18/5")
    
    prev = water.loc[i]["index"]
    
    new = prev + index
    
    water.at[i, "index"] = new
    
for i in range (len (water)):
    
    index = comparison(water, i, "Incurred 18/5", "Incurred 18/6")
    
    prev = water.loc[i]["index"]
    
    new = prev + index
    
    water.at[i, "index"] = new
    
for i in range (len (water)):
    
    index = comparison(water, i, "Incurred 18/6", "Incurred 18/7")
    
    prev = water.loc[i]["index"]
    
    new = prev + index
    
    water.at[i, "index"] = new
    
for i in range (len (water)):
    
    index = comparison(water, i, "Incurred 18/7", "Incurred 18/8")
    
    prev = water.loc[i]["index"]
    
    new = prev + index
    
    water.at[i, "index"] = new

water

,#,Claim,Claimant,Loss Date,Policy Effective Date,Date Reported to York,Total Paid,Deductible,Incurred 21/2,Incurred 18/8,...,Incurred 18/6,Incurred 18/5,Incurred 18/4,Incurred 18/3,Incurred 18/2,Incurred 18/1,This month incurred total for Summary risk(total reserve + paid),Loss Type,Description,index
0,1580,HFMH-1628A9,"Fullbrook, Anthony",2018-01-01,2017-01-03,2018-01-01,13512.5,1000,13512.5,13490.5,...,13490.5,13490.5,13490.5,13490.5,13500,13500,0,WATER DAMAGE,"Water pipes burst from the cold, and flooded t...",-1
1,1581,HFMH-1629A9,"& Ying Sun, Xiaofeng Liu",2018-01-02,2017-08-15,2018-01-02,4985.55,2000,4985.55,4963.55,...,4963.55,4963.55,4963.55,4963.55,13800,13800,0,WATER DAMAGE,"Insured had a pipe burst, damage to wall/floor...",-1
2,1582,HFMH-1630A9,"Girdhari, Deneshwar",2018-01-01,2017-04-13,2018-01-02,2032.9,2500,2032.9,2010.9,...,2010.9,2010.9,2010.9,13500,13500,13500,0,WATER DAMAGE,"Sewer line might be backed up, causing damage ...",-1
3,1583,HFMH-1631A9,"Espada, Eddie",2018-01-02,2017-07-29,2018-01-02,7609.56,1000,7609.56,7587.56,...,7587.56,7587.56,7587.56,7587.56,7122.98,6348.98,0,WATER DAMAGE,Roof is leaking due possibly from the snow.,2
4,1585,HFMH-1633A9,"Hui Zhang, Fei",2018-01-02,2017-09-25,2018-01-03,26361.7,1000,26361.7,35095.1,...,65000,65000,65000,65000,13800,13800,0,WATER DAMAGE,Freezing pipe. Water damage from second floor ...,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,1767,HFMH-1817A9,"Elsenhout, Paul",2018-01-03,2017-07-13,2018-02-22,680,1000,680,12,...,12,12,13200,13200,13200,None,0,WATER DAMAGE,Freezing,-1
121,1772,HFMH-1822A9,"Fang, Teng",2018-01-18,2017-05-05,2018-02-27,15314.7,2500,15314.7,13600,...,13600,13600,13600,13600,12000,None,0,WATER DAMAGE,Insured had a burst pipe,1
122,1935,HFMH-1988A9,"Kyung Park-kim, Hae",2018-01-08,2017-12-28,2018-03-13,1571.2,500,1571.2,1549.2,...,8500,13500,13500,13500,None,None,0,WATER DAMAGE,Insured had a burst pipe,-2
123,1962,HFMH-2017A9,"Archer, James",2018-01-19,2017-03-17,2018-03-22,4154.28,2500,4154.28,4132.28,...,4132.28,4132.28,4132.28,13800,None,None,0,WATER DAMAGE,Water damaged due to frozen pipes in one bath....,-1
124,2315,HFMH-2380A9,Srikumar Kanapathipillai & Luxshmi Srikumar,2018-01-07,2017-11-14,2018-08-20,1246.15,1000,1246.15,14500,...,None,None,None,None,None,None,0,WATER DAMAGE,There were plumbing leaks in the 1st floor bat...,0

In [6]:
water["index"][:50]

0    -1
1    -1
2    -1
3     2
4     0
5    -1
6    -2
7     0
8     1
9    -2
10   -2
11    2
12    0
13   -1
14    0
15    2
16    0
17   -2
18   -2
19   -1
20    0
21   -1
22    2
23    2
24    2
25    0
26    1
27   -1
28    2
29    2
30    0
31    0
32   -2
33    2
34    0
35    0
36   -1
37    1
38    4
39    0
40    0
41    1
42    2
43   -1
44    0
45    1
46   -1
47    0
48    0
49    0
Name: index, dtype: int64

In [7]:
g = water.groupby(by="index").count()

g

,#,Claim,Claimant,Loss Date,Policy Effective Date,Date Reported to York,Total Paid,Deductible,Incurred 21/2,Incurred 18/8,Incurred 18/7,Incurred 18/6,Incurred 18/5,Incurred 18/4,Incurred 18/3,Incurred 18/2,Incurred 18/1,This month incurred total for Summary risk(total reserve + paid),Loss Type,Description
index,,,,,,,,,,,,,,,,,,,,
-2,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,10,9,11,11,11
-1,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35,34,31,35,35,35
0,37,37,37,37,37,37,37,37,37,37,36,36,36,36,36,36,34,37,37,37
1,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,21,22,22,22
2,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16
3,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
4,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2

In [8]:
index_n2 = index_n1 = index_0 = index_1 = index_2 = index_3 = index_4 = 0
final_n2 = final_n1 = final_0 = final_1 = final_2 = final_3 = final_4 = 0

for i in range (len(water)):
    if water.loc[i]["index"] == -2:        
        index_n2 += water.loc[i]["Incurred 18/8"]
        final_n2 += water.loc[i]["Incurred 21/2"]
        
    elif water.loc[i]["index"] == -1:
        index_n1 += water.loc[i]["Incurred 18/8"]
        final_n1 += water.loc[i]["Incurred 21/2"]
        
    elif water.loc[i]["index"] == 0:
        index_0 += water.loc[i]["Incurred 18/8"]
        final_0 += water.loc[i]["Incurred 21/2"]
        
    elif water.loc[i]["index"] == 1:
        index_1 += water.loc[i]["Incurred 18/8"]
        final_1 += water.loc[i]["Incurred 21/2"]
        
    elif water.loc[i]["index"] == 2:
        index_2 += water.loc[i]["Incurred 18/8"]
        final_2 += water.loc[i]["Incurred 21/2"]
        
    elif water.loc[i]["index"] == 3:
        index_3 += water.loc[i]["Incurred 18/8"]
        final_3 += water.loc[i]["Incurred 21/2"]
    
    elif water.loc[i]["index"] == 4:
        index_4 += water.loc[i]["Incurred 18/8"]
        final_4 += water.loc[i]["Incurred 21/2"]
        


print (index_n2, final_n2, round(final_n2/index_n2*100, 1))
print (index_n1, round(final_n1, 2), round(final_n1/index_n1*100, 1))
print (round(index_0, 2), round(final_0, 2), round(final_0/index_0*100, 1))
print (round(index_1, 2), final_1, round(final_1/index_1*100, 1))
print (index_2, round(final_2, 2), round(final_2/index_2*100, 1))
print (index_3, final_3, round(final_3/index_3*100, 1))
print (index_4, final_4, round(final_4/index_4*100, 1))

33694.37 38782.34 115.1
132042.55 141197.35 106.9
728313.66 535547.97 73.5
512888.73 532121.98 103.7
1004257.96 1102707.27 109.8
40475.89 41964.64 103.7
539141.0 518920.15 96.2

In [18]:
isaias_water_df = pd.read_excel ("ISAIAS_water.xlsx")

isaias_water_df

,#,Claim,기준,Claimant,Loss Date,출재,Incurred 21/2,Incurred 21/1,Incurred 20/12,Incurred 20/11,Incurred 20/10,Incurred 20/9,Incurred 20/8
0,4010,CHI20411510,수침,Jose Guzman,2020-08-04,0.320,4278.13,4278.13,4053.13,4053.13,4053.13,4053.13,3500.00
1,4035,CHI20411960,수침,Weiwei Zhang & Weihua Zhu,2020-08-04,0.320,1419.85,1419.85,1194.85,1194.85,7500.00,7500.00,3500.00
2,4060,CHI20412300,수침,Dimitrios Capeleris,2020-08-04,0.325,15702.72,15702.72,15702.72,15702.72,15702.72,7500.00,3500.00
3,4061,CHI20412310,수침,Adele Romano,2020-08-04,0.325,24464.78,24464.78,24464.78,24464.78,24473.34,24472.47,23054.46
4,4064,CHI20412380,수침,"Khan, Sahel",2020-08-04,0.320,1383.09,4753.09,12608.45,12608.45,12608.45,12000.00,12000.00
5,4067,CHI20412410,수침,Kazi Sakhawat Hossain,2020-08-04,0.320,4378.70,4378.70,4378.70,4378.70,4378.70,7500.00,3500.00
6,4073,CHI20412490,수침,"Riaz, Huma",2020-08-04,0.320,7587.63,7587.63,7587.63,7587.63,7578.07,7578.07,3000.00
7,4076,CHI20412530,수침,Lin Li,2020-08-04,0.320,12500.00,12500.00,12500.00,7500.00,7500.00,7500.00,3500.00
8,4079,CHI20412560,수침,Tina & Kimball Ng,2020-08-04,0.320,3588.45,3588.45,3588.45,3588.45,3588.45,7500.00,3500.00
9,4081,CHI20412580,수침,"Dineskaran, Rasiah",2020-08-04,0.320,7500.00,6608.45,6608.45,6608.45,6608.45,6608.45,6000.00
10,4082,CHI20412590,수침,Robert Morales,2020-08-05,0.320,6800.00,6800.00,7500.00,7500.00,7500.00,7500.00,3500.00
11,4093,CHI20412710,수침,"Zhang, Dan Yan",2020-08-04,0.320,7725.00,7725.00,7500.00,7500.00,7500.00,7500.00,3500.00
12,4104,CHI20412850,수침,"Zhong, Fang",2020-08-04,0.325,7105.29,7105.29,7105.29,7105.29,7105.29,7500.00,3500.00
13,4116,CHI20413020,수침,"Clarke, Julian",2020-08-04,0.320,14000.00,14000.00,14000.00,14000.00,14000.00,14000.00,14000.00
14,4127,CHI20413150,수침,"Jiang, Hwa Dong",2020-08-04,0.325,595.00,595.00,595.00,595.00,595.00,595.00,595.00
15,4133,CHI20413230,수침,Dong Chen,2020-08-04,0.320,3514.59,3514.59,3514.59,3514.59,3514.59,7895.00,3552.02
16,4137,CHI20413290,수침,Susan Sung,2020-08-04,0.320,595.00,6000.00,6000.00,6000.00,6000.00,6000.00,8500.00
17,4139,CHI20413310,수침,Ivan Ng,2020-08-04,0.325,10003.45,10003.45,10003.45,10003.45,10003.45,10003.45,3500.00
18,4153,CHI20413560,수침,Alice Aleksandrovich,2020-08-04,0.320,11449.92,11449.92,11449.92,11449.92,12000.00,14000.00,14000.00
19,4179,CHI20413880,수침,"Garg, Sanjay & Rohini",2020-08-03,0.320,6535.69,6535.69,6535.69,6535.69,6535.69,6535.69,9000.00
20,4183,CHI20413920,수침,"Hing, Albert",2020-08-04,0.320,2108.45,2108.45,2108.45,2108.45,2108.45,6300.00,6300.00
21,4185,CHI20413940,수침,"Islam, MD Tunzimul",2020-08-04,0.320,12824.35,12824.35,12824.35,12824.35,12824.35,7500.00,3500.00
22,4187,CHI20413960,수침,"Khanam, Kamrun",2020-08-04,0.320,12499.13,12499.13,12499.13,12499.13,6329.93,6329.93,3000.00
23,4188,CHI20413970,수침,Nati Itzhaki & Rinat Heletz,2020-08-06,0.325,27073.68,27073.68,27073.68,27073.68,29000.00,14000.00,14000.00
24,4190,CHI20413990,수침,"Zhao, Yanyun",2020-08-04,0.325,9500.00,9500.00,9500.00,9500.00,9500.00,9500.00,7000.00
25,4231,CHI20414880,수침,Melainie A Grant,2020-08-06,0.325,1546.52,1546.52,1546.52,1546.52,1546.52,16251.55,14000.00
26,4275,CHI20415950,수침,Stephen Fischer,2020-08-04,0.325,8821.17,8821.17,8821.17,8821.17,8821.17,14000.00,14000.00
27,4276,CHI20415960,수침,NaN,2020-08-04,0.325,0.00,0.00,0.00,0.00,0.00,0.00,3500.00
28,4279,CHI20416000,수침,Heidi McClure,2020-08-04,0.320,3563.30,3563.30,7500.00,7500.00,7500.00,7500.00,3500.00
29,4280,CHI20416020,수침,Helena Figueiredo,2020-08-04,0.325,4343.59,7395.00,7000.00,7000.00,7000.00,7000.00,7000.00
30,4281,CHI20416050,수침,Mohammed & Mujeebunnisa Yousufi,2020-08-05,0.320,608.45,608.45,608.45,608.45,608.45,14000.00,14000.00
31,4431,CHI20448640,수침,Cheonjun Lee,2020-08-04,0.325,5930.20,5930.20,14000.00,14000.00,14000.00,14000.00,14000.00
32,4436,CHI20449170,수침,Chung Sun Yun & Myung Za Yun,2020-07-30,0.320,14000.00,14000.00,14000.00,14000.00,14000.00,14000.00,14000.00
33,4457,CHI20451580,수침,Mi Sook Kim,2020-08-04,0.325,1018.80,1018.80,1018.80,1018.80,1018.80,1018.80,3500.00
34,4462,CHI20452030,수침,Adesumola Olagbegi,2020-08-04,0.325,1211.65,1211.65,1211.65,1211.65,1211.65,1211.65,14000.00
35,4482,CHE20013690,수침,Hyundai Marine & Fire Insurance,2020-08-04,0.325,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [19]:
isaias_water = isaias_water_df.replace({np.nan: None})

isaias_water

,#,Claim,기준,Claimant,Loss Date,출재,Incurred 21/2,Incurred 21/1,Incurred 20/12,Incurred 20/11,Incurred 20/10,Incurred 20/9,Incurred 20/8
0,4010,CHI20411510,수침,Jose Guzman,2020-08-04,0.320,4278.13,4278.13,4053.13,4053.13,4053.13,4053.13,3500.00
1,4035,CHI20411960,수침,Weiwei Zhang & Weihua Zhu,2020-08-04,0.320,1419.85,1419.85,1194.85,1194.85,7500.00,7500.00,3500.00
2,4060,CHI20412300,수침,Dimitrios Capeleris,2020-08-04,0.325,15702.72,15702.72,15702.72,15702.72,15702.72,7500.00,3500.00
3,4061,CHI20412310,수침,Adele Romano,2020-08-04,0.325,24464.78,24464.78,24464.78,24464.78,24473.34,24472.47,23054.46
4,4064,CHI20412380,수침,"Khan, Sahel",2020-08-04,0.320,1383.09,4753.09,12608.45,12608.45,12608.45,12000.00,12000.00
5,4067,CHI20412410,수침,Kazi Sakhawat Hossain,2020-08-04,0.320,4378.70,4378.70,4378.70,4378.70,4378.70,7500.00,3500.00
6,4073,CHI20412490,수침,"Riaz, Huma",2020-08-04,0.320,7587.63,7587.63,7587.63,7587.63,7578.07,7578.07,3000.00
7,4076,CHI20412530,수침,Lin Li,2020-08-04,0.320,12500.00,12500.00,12500.00,7500.00,7500.00,7500.00,3500.00
8,4079,CHI20412560,수침,Tina & Kimball Ng,2020-08-04,0.320,3588.45,3588.45,3588.45,3588.45,3588.45,7500.00,3500.00
9,4081,CHI20412580,수침,"Dineskaran, Rasiah",2020-08-04,0.320,7500.00,6608.45,6608.45,6608.45,6608.45,6608.45,6000.00
10,4082,CHI20412590,수침,Robert Morales,2020-08-05,0.320,6800.00,6800.00,7500.00,7500.00,7500.00,7500.00,3500.00
11,4093,CHI20412710,수침,"Zhang, Dan Yan",2020-08-04,0.320,7725.00,7725.00,7500.00,7500.00,7500.00,7500.00,3500.00
12,4104,CHI20412850,수침,"Zhong, Fang",2020-08-04,0.325,7105.29,7105.29,7105.29,7105.29,7105.29,7500.00,3500.00
13,4116,CHI20413020,수침,"Clarke, Julian",2020-08-04,0.320,14000.00,14000.00,14000.00,14000.00,14000.00,14000.00,14000.00
14,4127,CHI20413150,수침,"Jiang, Hwa Dong",2020-08-04,0.325,595.00,595.00,595.00,595.00,595.00,595.00,595.00
15,4133,CHI20413230,수침,Dong Chen,2020-08-04,0.320,3514.59,3514.59,3514.59,3514.59,3514.59,7895.00,3552.02
16,4137,CHI20413290,수침,Susan Sung,2020-08-04,0.320,595.00,6000.00,6000.00,6000.00,6000.00,6000.00,8500.00
17,4139,CHI20413310,수침,Ivan Ng,2020-08-04,0.325,10003.45,10003.45,10003.45,10003.45,10003.45,10003.45,3500.00
18,4153,CHI20413560,수침,Alice Aleksandrovich,2020-08-04,0.320,11449.92,11449.92,11449.92,11449.92,12000.00,14000.00,14000.00
19,4179,CHI20413880,수침,"Garg, Sanjay & Rohini",2020-08-03,0.320,6535.69,6535.69,6535.69,6535.69,6535.69,6535.69,9000.00
20,4183,CHI20413920,수침,"Hing, Albert",2020-08-04,0.320,2108.45,2108.45,2108.45,2108.45,2108.45,6300.00,6300.00
21,4185,CHI20413940,수침,"Islam, MD Tunzimul",2020-08-04,0.320,12824.35,12824.35,12824.35,12824.35,12824.35,7500.00,3500.00
22,4187,CHI20413960,수침,"Khanam, Kamrun",2020-08-04,0.320,12499.13,12499.13,12499.13,12499.13,6329.93,6329.93,3000.00
23,4188,CHI20413970,수침,Nati Itzhaki & Rinat Heletz,2020-08-06,0.325,27073.68,27073.68,27073.68,27073.68,29000.00,14000.00,14000.00
24,4190,CHI20413990,수침,"Zhao, Yanyun",2020-08-04,0.325,9500.00,9500.00,9500.00,9500.00,9500.00,9500.00,7000.00
25,4231,CHI20414880,수침,Melainie A Grant,2020-08-06,0.325,1546.52,1546.52,1546.52,1546.52,1546.52,16251.55,14000.00
26,4275,CHI20415950,수침,Stephen Fischer,2020-08-04,0.325,8821.17,8821.17,8821.17,8821.17,8821.17,14000.00,14000.00
27,4276,CHI20415960,수침,None,2020-08-04,0.325,0.00,0.00,0.00,0.00,0.00,0.00,3500.00
28,4279,CHI20416000,수침,Heidi McClure,2020-08-04,0.320,3563.30,3563.30,7500.00,7500.00,7500.00,7500.00,3500.00
29,4280,CHI20416020,수침,Helena Figueiredo,2020-08-04,0.325,4343.59,7395.00,7000.00,7000.00,7000.00,7000.00,7000.00
30,4281,CHI20416050,수침,Mohammed & Mujeebunnisa Yousufi,2020-08-05,0.320,608.45,608.45,608.45,608.45,608.45,14000.00,14000.00
31,4431,CHI20448640,수침,Cheonjun Lee,2020-08-04,0.325,5930.20,5930.20,14000.00,14000.00,14000.00,14000.00,14000.00
32,4436,CHI20449170,수침,Chung Sun Yun & Myung Za Yun,2020-07-30,0.320,14000.00,14000.00,14000.00,14000.00,14000.00,14000.00,14000.00
33,4457,CHI20451580,수침,Mi Sook Kim,2020-08-04,0.325,1018.80,1018.80,1018.80,1018.80,1018.80,1018.80,3500.00
34,4462,CHI20452030,수침,Adesumola Olagbegi,2020-08-04,0.325,1211.65,1211.65,1211.65,1211.65,1211.65,1211.65,14000.00
35,4482,CHE20013690,수침,Hyundai Marine & Fire Insurance,2020-08-04,0.325,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [20]:
l = []

for i in range (len(isaias_water)):
    
    l.append (0)
    
isaias_water["index"] = l

isaias_water

,#,Claim,기준,Claimant,Loss Date,출재,Incurred 21/2,Incurred 21/1,Incurred 20/12,Incurred 20/11,Incurred 20/10,Incurred 20/9,Incurred 20/8,index
0,4010,CHI20411510,수침,Jose Guzman,2020-08-04,0.320,4278.13,4278.13,4053.13,4053.13,4053.13,4053.13,3500.00,0
1,4035,CHI20411960,수침,Weiwei Zhang & Weihua Zhu,2020-08-04,0.320,1419.85,1419.85,1194.85,1194.85,7500.00,7500.00,3500.00,0
2,4060,CHI20412300,수침,Dimitrios Capeleris,2020-08-04,0.325,15702.72,15702.72,15702.72,15702.72,15702.72,7500.00,3500.00,0
3,4061,CHI20412310,수침,Adele Romano,2020-08-04,0.325,24464.78,24464.78,24464.78,24464.78,24473.34,24472.47,23054.46,0
4,4064,CHI20412380,수침,"Khan, Sahel",2020-08-04,0.320,1383.09,4753.09,12608.45,12608.45,12608.45,12000.00,12000.00,0
5,4067,CHI20412410,수침,Kazi Sakhawat Hossain,2020-08-04,0.320,4378.70,4378.70,4378.70,4378.70,4378.70,7500.00,3500.00,0
6,4073,CHI20412490,수침,"Riaz, Huma",2020-08-04,0.320,7587.63,7587.63,7587.63,7587.63,7578.07,7578.07,3000.00,0
7,4076,CHI20412530,수침,Lin Li,2020-08-04,0.320,12500.00,12500.00,12500.00,7500.00,7500.00,7500.00,3500.00,0
8,4079,CHI20412560,수침,Tina & Kimball Ng,2020-08-04,0.320,3588.45,3588.45,3588.45,3588.45,3588.45,7500.00,3500.00,0
9,4081,CHI20412580,수침,"Dineskaran, Rasiah",2020-08-04,0.320,7500.00,6608.45,6608.45,6608.45,6608.45,6608.45,6000.00,0
10,4082,CHI20412590,수침,Robert Morales,2020-08-05,0.320,6800.00,6800.00,7500.00,7500.00,7500.00,7500.00,3500.00,0
11,4093,CHI20412710,수침,"Zhang, Dan Yan",2020-08-04,0.320,7725.00,7725.00,7500.00,7500.00,7500.00,7500.00,3500.00,0
12,4104,CHI20412850,수침,"Zhong, Fang",2020-08-04,0.325,7105.29,7105.29,7105.29,7105.29,7105.29,7500.00,3500.00,0
13,4116,CHI20413020,수침,"Clarke, Julian",2020-08-04,0.320,14000.00,14000.00,14000.00,14000.00,14000.00,14000.00,14000.00,0
14,4127,CHI20413150,수침,"Jiang, Hwa Dong",2020-08-04,0.325,595.00,595.00,595.00,595.00,595.00,595.00,595.00,0
15,4133,CHI20413230,수침,Dong Chen,2020-08-04,0.320,3514.59,3514.59,3514.59,3514.59,3514.59,7895.00,3552.02,0
16,4137,CHI20413290,수침,Susan Sung,2020-08-04,0.320,595.00,6000.00,6000.00,6000.00,6000.00,6000.00,8500.00,0
17,4139,CHI20413310,수침,Ivan Ng,2020-08-04,0.325,10003.45,10003.45,10003.45,10003.45,10003.45,10003.45,3500.00,0
18,4153,CHI20413560,수침,Alice Aleksandrovich,2020-08-04,0.320,11449.92,11449.92,11449.92,11449.92,12000.00,14000.00,14000.00,0
19,4179,CHI20413880,수침,"Garg, Sanjay & Rohini",2020-08-03,0.320,6535.69,6535.69,6535.69,6535.69,6535.69,6535.69,9000.00,0
20,4183,CHI20413920,수침,"Hing, Albert",2020-08-04,0.320,2108.45,2108.45,2108.45,2108.45,2108.45,6300.00,6300.00,0
21,4185,CHI20413940,수침,"Islam, MD Tunzimul",2020-08-04,0.320,12824.35,12824.35,12824.35,12824.35,12824.35,7500.00,3500.00,0
22,4187,CHI20413960,수침,"Khanam, Kamrun",2020-08-04,0.320,12499.13,12499.13,12499.13,12499.13,6329.93,6329.93,3000.00,0
23,4188,CHI20413970,수침,Nati Itzhaki & Rinat Heletz,2020-08-06,0.325,27073.68,27073.68,27073.68,27073.68,29000.00,14000.00,14000.00,0
24,4190,CHI20413990,수침,"Zhao, Yanyun",2020-08-04,0.325,9500.00,9500.00,9500.00,9500.00,9500.00,9500.00,7000.00,0
25,4231,CHI20414880,수침,Melainie A Grant,2020-08-06,0.325,1546.52,1546.52,1546.52,1546.52,1546.52,16251.55,14000.00,0
26,4275,CHI20415950,수침,Stephen Fischer,2020-08-04,0.325,8821.17,8821.17,8821.17,8821.17,8821.17,14000.00,14000.00,0
27,4276,CHI20415960,수침,None,2020-08-04,0.325,0.00,0.00,0.00,0.00,0.00,0.00,3500.00,0
28,4279,CHI20416000,수침,Heidi McClure,2020-08-04,0.320,3563.30,3563.30,7500.00,7500.00,7500.00,7500.00,3500.00,0
29,4280,CHI20416020,수침,Helena Figueiredo,2020-08-04,0.325,4343.59,7395.00,7000.00,7000.00,7000.00,7000.00,7000.00,0
30,4281,CHI20416050,수침,Mohammed & Mujeebunnisa Yousufi,2020-08-05,0.320,608.45,608.45,608.45,608.45,608.45,14000.00,14000.00,0
31,4431,CHI20448640,수침,Cheonjun Lee,2020-08-04,0.325,5930.20,5930.20,14000.00,14000.00,14000.00,14000.00,14000.00,0
32,4436,CHI20449170,수침,Chung Sun Yun & Myung Za Yun,2020-07-30,0.320,14000.00,14000.00,14000.00,14000.00,14000.00,14000.00,14000.00,0
33,4457,CHI20451580,수침,Mi Sook Kim,2020-08-04,0.325,1018.80,1018.80,1018.80,1018.80,1018.80,1018.80,3500.00,0
34,4462,CHI20452030,수침,Adesumola Olagbegi,2020-08-04,0.325,1211.65,1211.65,1211.65,1211.65,1211.65,1211.65,14000.00,0
35,4482,CHE20013690,수침,Hyundai Marine & Fire Insurance,2020-08-04,0.325,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0

In [21]:
for i in range (len (isaias_water)):
    
    index = comparison(isaias_water, i, "Incurred 20/8", "Incurred 20/9")
    
    prev = isaias_water.loc[i]["index"]
    
    new = prev + index
    
    isaias_water.at[i, "index"] = new
    
for i in range (len (isaias_water)):
    
    index = comparison(isaias_water, i, "Incurred 20/9", "Incurred 20/10")
    
    prev = isaias_water.loc[i]["index"]
    
    new = prev + index
    
    isaias_water.at[i, "index"] = new
    
    
for i in range (len (isaias_water)):
    
    index = comparison(isaias_water, i, "Incurred 20/10", "Incurred 20/11")
    
    prev = isaias_water.loc[i]["index"]
    
    new = prev + index
    
    isaias_water.at[i, "index"] = new
    
for i in range (len (isaias_water)):
    
    index = comparison(isaias_water, i, "Incurred 20/11", "Incurred 20/12")
    
    prev = isaias_water.loc[i]["index"]
    
    new = prev + index
    
    isaias_water.at[i, "index"] = new
    
for i in range (len (isaias_water)):
    
    index = comparison(isaias_water, i, "Incurred 20/12", "Incurred 21/1")
    
    prev = isaias_water.loc[i]["index"]
    
    new = prev + index
    
    isaias_water.at[i, "index"] = new
    
for i in range (len (isaias_water)):
    
    index = comparison(isaias_water, i, "Incurred 21/1", "Incurred 21/2")
    
    prev = isaias_water.loc[i]["index"]
    
    new = prev + index
    
    isaias_water.at[i, "index"] = new

In [22]:
isaias_water

,#,Claim,기준,Claimant,Loss Date,출재,Incurred 21/2,Incurred 21/1,Incurred 20/12,Incurred 20/11,Incurred 20/10,Incurred 20/9,Incurred 20/8,index
0,4010,CHI20411510,수침,Jose Guzman,2020-08-04,0.320,4278.13,4278.13,4053.13,4053.13,4053.13,4053.13,3500.00,2
1,4035,CHI20411960,수침,Weiwei Zhang & Weihua Zhu,2020-08-04,0.320,1419.85,1419.85,1194.85,1194.85,7500.00,7500.00,3500.00,1
2,4060,CHI20412300,수침,Dimitrios Capeleris,2020-08-04,0.325,15702.72,15702.72,15702.72,15702.72,15702.72,7500.00,3500.00,2
3,4061,CHI20412310,수침,Adele Romano,2020-08-04,0.325,24464.78,24464.78,24464.78,24464.78,24473.34,24472.47,23054.46,1
4,4064,CHI20412380,수침,"Khan, Sahel",2020-08-04,0.320,1383.09,4753.09,12608.45,12608.45,12608.45,12000.00,12000.00,-1
5,4067,CHI20412410,수침,Kazi Sakhawat Hossain,2020-08-04,0.320,4378.70,4378.70,4378.70,4378.70,4378.70,7500.00,3500.00,0
6,4073,CHI20412490,수침,"Riaz, Huma",2020-08-04,0.320,7587.63,7587.63,7587.63,7587.63,7578.07,7578.07,3000.00,2
7,4076,CHI20412530,수침,Lin Li,2020-08-04,0.320,12500.00,12500.00,12500.00,7500.00,7500.00,7500.00,3500.00,2
8,4079,CHI20412560,수침,Tina & Kimball Ng,2020-08-04,0.320,3588.45,3588.45,3588.45,3588.45,3588.45,7500.00,3500.00,0
9,4081,CHI20412580,수침,"Dineskaran, Rasiah",2020-08-04,0.320,7500.00,6608.45,6608.45,6608.45,6608.45,6608.45,6000.00,2
10,4082,CHI20412590,수침,Robert Morales,2020-08-05,0.320,6800.00,6800.00,7500.00,7500.00,7500.00,7500.00,3500.00,0
11,4093,CHI20412710,수침,"Zhang, Dan Yan",2020-08-04,0.320,7725.00,7725.00,7500.00,7500.00,7500.00,7500.00,3500.00,2
12,4104,CHI20412850,수침,"Zhong, Fang",2020-08-04,0.325,7105.29,7105.29,7105.29,7105.29,7105.29,7500.00,3500.00,0
13,4116,CHI20413020,수침,"Clarke, Julian",2020-08-04,0.320,14000.00,14000.00,14000.00,14000.00,14000.00,14000.00,14000.00,0
14,4127,CHI20413150,수침,"Jiang, Hwa Dong",2020-08-04,0.325,595.00,595.00,595.00,595.00,595.00,595.00,595.00,0
15,4133,CHI20413230,수침,Dong Chen,2020-08-04,0.320,3514.59,3514.59,3514.59,3514.59,3514.59,7895.00,3552.02,0
16,4137,CHI20413290,수침,Susan Sung,2020-08-04,0.320,595.00,6000.00,6000.00,6000.00,6000.00,6000.00,8500.00,-2
17,4139,CHI20413310,수침,Ivan Ng,2020-08-04,0.325,10003.45,10003.45,10003.45,10003.45,10003.45,10003.45,3500.00,1
18,4153,CHI20413560,수침,Alice Aleksandrovich,2020-08-04,0.320,11449.92,11449.92,11449.92,11449.92,12000.00,14000.00,14000.00,-2
19,4179,CHI20413880,수침,"Garg, Sanjay & Rohini",2020-08-03,0.320,6535.69,6535.69,6535.69,6535.69,6535.69,6535.69,9000.00,-1
20,4183,CHI20413920,수침,"Hing, Albert",2020-08-04,0.320,2108.45,2108.45,2108.45,2108.45,2108.45,6300.00,6300.00,-1
21,4185,CHI20413940,수침,"Islam, MD Tunzimul",2020-08-04,0.320,12824.35,12824.35,12824.35,12824.35,12824.35,7500.00,3500.00,2
22,4187,CHI20413960,수침,"Khanam, Kamrun",2020-08-04,0.320,12499.13,12499.13,12499.13,12499.13,6329.93,6329.93,3000.00,2
23,4188,CHI20413970,수침,Nati Itzhaki & Rinat Heletz,2020-08-06,0.325,27073.68,27073.68,27073.68,27073.68,29000.00,14000.00,14000.00,0
24,4190,CHI20413990,수침,"Zhao, Yanyun",2020-08-04,0.325,9500.00,9500.00,9500.00,9500.00,9500.00,9500.00,7000.00,1
25,4231,CHI20414880,수침,Melainie A Grant,2020-08-06,0.325,1546.52,1546.52,1546.52,1546.52,1546.52,16251.55,14000.00,0
26,4275,CHI20415950,수침,Stephen Fischer,2020-08-04,0.325,8821.17,8821.17,8821.17,8821.17,8821.17,14000.00,14000.00,-1
27,4276,CHI20415960,수침,None,2020-08-04,0.325,0.00,0.00,0.00,0.00,0.00,0.00,3500.00,-1
28,4279,CHI20416000,수침,Heidi McClure,2020-08-04,0.320,3563.30,3563.30,7500.00,7500.00,7500.00,7500.00,3500.00,0
29,4280,CHI20416020,수침,Helena Figueiredo,2020-08-04,0.325,4343.59,7395.00,7000.00,7000.00,7000.00,7000.00,7000.00,0
30,4281,CHI20416050,수침,Mohammed & Mujeebunnisa Yousufi,2020-08-05,0.320,608.45,608.45,608.45,608.45,608.45,14000.00,14000.00,-1
31,4431,CHI20448640,수침,Cheonjun Lee,2020-08-04,0.325,5930.20,5930.20,14000.00,14000.00,14000.00,14000.00,14000.00,-1
32,4436,CHI20449170,수침,Chung Sun Yun & Myung Za Yun,2020-07-30,0.320,14000.00,14000.00,14000.00,14000.00,14000.00,14000.00,14000.00,0
33,4457,CHI20451580,수침,Mi Sook Kim,2020-08-04,0.325,1018.80,1018.80,1018.80,1018.80,1018.80,1018.80,3500.00,-1
34,4462,CHI20452030,수침,Adesumola Olagbegi,2020-08-04,0.325,1211.65,1211.65,1211.65,1211.65,1211.65,1211.65,14000.00,-1
35,4482,CHE20013690,수침,Hyundai Marine & Fire Insurance,2020-08-04,0.325,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0

In [23]:
isaias_water.groupby(by="index").count()

,#,Claim,기준,Claimant,Loss Date,출재,Incurred 21/2,Incurred 21/1,Incurred 20/12,Incurred 20/11,Incurred 20/10,Incurred 20/9,Incurred 20/8
index,,,,,,,,,,,,,
-2,2,2,2,2,2,2,2,2,2,2,2,2,2
-1,9,9,9,8,9,9,9,9,9,9,9,9,9
0,13,13,13,13,13,13,13,13,13,13,13,13,13
1,4,4,4,4,4,4,4,4,4,4,4,4,4
2,8,8,8,8,8,8,8,8,8,8,8,8,8

In [24]:
isaias_index_n2 = isaias_index_n1 = isaias_index_0 = isaias_index_1 = isaias_index_2 = 0


for i in range (len(isaias_water)):
    if isaias_water.loc[i]["index"] == -1:
        isaias_index_n1 += isaias_water.loc[i]["Incurred 21/2"]
              
    elif isaias_water.loc[i]["index"] == 0:
        isaias_index_0 += isaias_water.loc[i]["Incurred 21/2"]
               
    elif isaias_water.loc[i]["index"] == 1:
        isaias_index_1 += isaias_water.loc[i]["Incurred 21/2"]
                
    elif isaias_water.loc[i]["index"] == 2:
        isaias_index_2 += isaias_water.loc[i]["Incurred 21/2"]
        
    elif isaias_water.loc[i]["index"] == -2:
        isaias_index_n2 += isaias_water.loc[i]["Incurred 21/2"]


print (isaias_index_n2)
print (round (isaias_index_n1, 2))
print (round(isaias_index_0, 2))
print (round(isaias_index_1, 2))
print (isaias_index_2)

12044.92
27617.5
90509.12
45388.08
80616.96